/* styles.css */

/* MAIN */
html {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url('./img/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
}

h1 {
  color: #fff;
  font-size: 70px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

h3 {
  color: #fff;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.styled-box {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

footer {
  background-color: gray;
  padding: 30px;
  margin-top: 25%;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

button:hover {
  background-color: gray;
}

button {
  background-color: lightgray;
  padding: 0.5rem;
  cursor: pointer;
}

/* Header  */
header {
  background-color: gray;
  margin: -8px;
  display: flex;
  padding: 15px;
  height: 170px;
}

/* NAV BAR */

nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

/* HOMEPAGE */
.h1Headers {
  margin: 100px;
}

.logInBox {
  background-color: gray;
  padding: 20px 70px 40px 70px;
  font-size: 20px;
  font-weight: bolder;
  width: max-content;
  margin: 0 auto;
}

.logInBox h2 {
  display: flex;
  align-items: flex-start;
}

#logInButtons button {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bolder;
  max-width: fit-content;
}

#ownerLogInButton {
  margin-right: 50px;
}

/* APPOINTMENT FORM */

#appointmentBox {
  background-color: gray;
  padding: 60px 100px;
  width: fit-content;
  margin: 0 auto;
  border: black solid 3px;
  margin-bottom: 80px;
}

#dayTime {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#dayTime p {
  margin: 0;
}

#titleDescription {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

#titleDescription input {
  margin-bottom: 15px;
}

#titleDescription textarea {
  margin-bottom: 15px;
}

#description {
  width: 500px;
  min-height: 150px;
  resize: vertical;
}

#startEnd {
  display: flex;
  flex-direction: row;
  width: 500px;
}

#startEnd input {
  width: 150px;
}

#endTime {
  margin-left: 14px;
}

.appointmentForm button {
  margin-top: 30px;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
}

.dropdownTimeAppointmentInput {
  background-color: #fff;
}

/* USER PAGE */

#dayContainer {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
}

#userViewDays {
  width: 300px;
  background-color: #919191;
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#userViewDays:hover {
  background-color: rgb(196, 198, 198);
}

#dropdownTimeSlot {
  margin-bottom: 15px;
}

#timeSlotButton {
  margin: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.userSignInDetail p {
  font-size: 30px;
  color: #fff;
  background-color: aquamarine;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 10px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

/* USER SIGN OUT PAGE */

.userAuthDiv {
  display: flex;
  flex-direction: column;
}

.userAuthDiv button {
  margin-top: 15px;
}

/* CONFIRMATION PAGE */
.confirmation-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: gray;
  border: 1px solid #ddd;
}

.confirmation-title {
  text-align: center;
  font-size: 1.5rem;
}

.confirmation-list {
  list-style-type: none;
  text-align: left;
  font-size: 1.1rem;
}

.calendar-return {
  padding: 1rem;
  font-size: 1rem;
}

/* Week Picker Component  */

.rs-picker-date-menu .rs-calendar-table-cell-week-number {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.rs-picker-date-menu
  .rs-calendar-table-row:not(.rs-calendar-table-header-row):hover
  .rs-calendar-table-cell-content {
  background-color: rgba(204, 233, 255, 0.5);
  background-color: rgb(from #cce9ff r g b/50%);
  background-color: var(--rs-listbox-option-hover-bg);
  color: #1675e0;
  color: var(--rs-listbox-option-hover-text);
}

.rs-picker-date-menu
  .rs-calendar-table-row:not(.rs-calendar-table-header-row):has(.rs-calendar-table-cell-selected)
  .rs-calendar-table-cell-content {
  background-color: #919191;
  background-color: var(--rs-bg-active);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  color: var(--rs-calendar-date-selected-text);
}

.rs-picker-toggle-wrapper {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

.weekPicker .weekInfos {
  margin-bottom: 20px;
}

.weekPicker .weekInfos div {
  margin-bottom: 20px;
}

.weekPicker .weekInfos .dateTitle {
  font-size: 40px;
  color: #fff;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

.weekPicker .weekInfos .dateValue {
  font-size: 30px;
  color: black;
  text-shadow: -2px -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255),
    -2px 2px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255);
}

/* USER DASHBOARD */
.user-appointments {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  text-align: left;
  width: 50%;
  margin: auto auto;
  margin-bottom: 3rem;
}

.individual-user-appointments {
  border: 2px solid rgb(0, 0, 0);
  background-color: aquamarine;
  list-style: none;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

/* OWNER PAGE  */
#dropdownTimeOwner {
  display: flex;
  flex-direction: column;
  padding: 3em;
  background-color: #cce9ff;
  border-radius: 5px;
}

#dropdownTimeOwner label {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

#dropdownTimeOwner .dropdownTimeOwnerInput {
  margin-bottom: 2em;
  background-color: #fff;
}

/* OWNER DASHBOARD */

#ownerDashboardList li {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #cce9ff;
  margin-bottom: 3em;
  padding: 2em;
  max-width: 50em;
  border-radius: 5px;
  border: #333 solid 3px;
}

#ownerDashboardList button {
  width: fit-content;
  margin-top: 2em;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

#ownerDashboardDateBox {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#ownerDashboardDateBox .ownerDashboardDateBoxDateBlock {
  display: flex;
  flex-direction: row;
}

.ownerDashboardDateBoxTitle {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

.ownerDashboardDateBoxContent {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-size: 1.2em;
  margin-right: 2em;
}

#ownerDashboardDescription {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#ownerDashboardDescription .ownerDashboardDateBoxDescriptionBlock {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

#ownerDashboardDescription .ownerDashboardDescriptionTitle {
  display: flex;
  flex-direction: row;
  width: 15em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

.ownerDashboardDescriptionContent {
  display: flex;
  flex-direction: row;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-size: 1em;
  margin-right: 2em;
}

.ownerDashboardDescriptionContentDescription {
  text-align: start;
  max-width: 27em;
}

/* RESPONSIVENESS SECTION */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.7rem;
  }

  .styled-box {
    width: 90%;
  }

  footer {
    padding: 30px;
    margin-top: 95%;
  }

  header {
    padding: 15px;
    height: auto;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }

  #logInButtons button {
    display: flex;
    margin: auto auto;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #ownerLogInButton {
    width: 105px;
  }

  .h1Headers {
    margin: 20px;
  }

  .logInBox {
    padding: 4rem;
    font-size: 1.5rem;
  }

  #appointmentBox {
    padding: 4rem;
    width: 90%;
    border: black solid 3px;
  }

  #titleDescription,
  #dayTime,
  #startEnd {
    width: 100%;
  }

  #titleDescription input,
  #titleDescription textarea,
  #startEnd input {
    width: 100%;
  }

  .appointmentForm button {
    font-size: 14px;
  }

  #dayContainer {
    margin: 0 auto;
  }

  #userViewDays {
    width: 70%;
  }

  #timeSlotButton {
    width: 100%;
    display: flex;
  }

  .confirmation-container {
    width: 80%;
  }

  .confirmation-title {
    font-size: 1.3rem;
  }

  .confirmation-list {
    font-size: 1rem;
  }

  .calendar-return {
    font-size: 0.8rem;
  }

  .user-appointments {
    width: 80%;
    margin-right: 4rem;
  }

  .individual-user-appointments {
    font-size: 1rem;
  }

  .user-dashboard {
    width: 50%;
    margin: auto auto;
  }
}
