/* styles.css */

/* MAIN */
html {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url('./img/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
}

h1 {
  color: #FFFFFF;
  font-size: 70px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

h3 {
  color: rgb(68, 63, 63);
  font-size: 1.5em;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.styled-box {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

footer {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%238f7453'/%3E%3Cstop offset='1' stop-color='%23e2c39f'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top left;
padding: 30px;
margin-top: 25%;
margin-left: -8px;
margin-right: -8px;
margin-bottom: -8px;
}

button:hover {
  background-color: #c09877;  
}

button {
  background-color: white;
  padding: 0.5rem;
  cursor: pointer;
}

/* HEADER */
header {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%238f7453'/%3E%3Cstop offset='1' stop-color='%23e2c39f'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  margin: -8px;
  display: flex;
  padding: 15px;
  height: 170px;
}

/* NAV BAR */
nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

/* HOMEPAGE */
.h1Headers {
  margin: 100px;
}

.logInBox {
  background-color: #FFDFBA;
  padding: 20px 70px 40px 70px;
  border-radius: 5%;
  font-size: 1.4rem;
  font-weight: bolder;
  width: max-content;
  margin: 0 auto;
}

.logInBox h2 {
  display: flex;
  align-items: flex-start;
}

#logInButtons button {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bolder;
  max-width: fit-content;
}

#ownerLogInButton {
  margin-right: 50px;
}

/* APPOINTMENT FORM */
#appointmentBox {
  background-color: #FFDFBA;
  padding: 60px 100px;
  width: fit-content;
  margin: 0 auto;
  border: black solid 3px;
  margin-bottom: 80px;
}

#dayTime {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#dayTime p {
  margin: 0;
}

#titleDescription {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

#titleDescription input {
  margin-bottom: 15px;
}

#titleDescription textarea {
  margin-bottom: 15px;
}

#description {
  margin-top: 1rem;
  width: 500px;
  min-height: 150px;
  resize: vertical;
}

#title { 
  margin-top: 1rem;
}

#startTime { 
  margin-top: 0.5rem;
  text-align: left;
}

#startEnd {
  display: flex;
  flex-direction: row;
  width: 500px;
}

#startEnd input {
  width: 150px;
}

#endTime {
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 14px;
}

.appointmentForm button {
  margin-top: 30px;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
}

.dropdownTimeAppointmentInput {
  background-color: #fff;
}

/* USER PAGE */
#dayContainer {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
}

#userViewDays {
  width: 300px;
  background-color: #c09877;
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  margin-top: 1rem;
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#userViewDays:hover {
  background-color: #FFDFBA;
}

#dropdownTimeSlot {
  margin-bottom: 15px;
}

#timeSlotButton {
  margin: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.userSignInDetail h2 {
  font-size: 30px;
  color: #000000;
  background-color: #FFDFBA;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 10px;
}

/* USER SIGN OUT PAGE */
.userAuthDiv {
  display: flex;
  flex-direction: column;
}

.userAuthDiv button {
  margin-top: 15px;
}

/* CONFIRMATION PAGE */
.confirmation-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #FFDFBA;
  border: 1px solid #ddd;
}

.confirmation-title {
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
  text-shadow: none;
}

.confirmation-list {
  list-style-type: none;
  text-align: left;
  font-size: 1.1rem;
}

.calendar-return {
  padding: 1rem;
  font-size: 1rem;
}

/* Week Picker Component  */
.rs-picker-date-menu .rs-calendar-table-cell-week-number {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.rs-picker-date-menu
  .rs-calendar-table-row:not(.rs-calendar-table-header-row):hover
  .rs-calendar-table-cell-content {
  background-color: rgba(204, 233, 255, 0.5);
  background-color: rgb(from #cce9ff r g b/50%);
  background-color: var(--rs-listbox-option-hover-bg);
  color: #1675e0;
  color: var(--rs-listbox-option-hover-text);
}

.rs-picker-date-menu
  .rs-calendar-table-row:not(.rs-calendar-table-header-row):has(.rs-calendar-table-cell-selected)
  .rs-calendar-table-cell-content {
  background-color: #3498ff;
  background-color: var(--rs-bg-active);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  color: var(--rs-calendar-date-selected-text);
}

.rs-picker-toggle-wrapper {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

.weekPicker .weekInfos {
  margin-bottom: 20px;
}

.weekPicker .weekInfos div {
  margin-bottom: 20px;
}

.weekPicker .weekInfos .dateTitle {
  font-size: 40px;
  color: #fff;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

.weekPicker .weekInfos .dateValue {
  font-size: 30px;
  color: black;
  text-shadow: -2px -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255),
    -2px 2px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255);
}

.weekPicker h1 { 
  color: #c09877;
}

/* USER DASHBOARD */
.user-appointments {
  color: rgb(0, 0, 0);
  text-align: left;
  width: 50%;
  margin: auto auto;
  margin-bottom: 3rem;
}

.individual-user-appointments {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2%;
  background-color: #FFDFBA;
  list-style: none;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.word-styling {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

/* OWNER PAGE  */
#dropdownTimeOwner {
  display: flex;
  flex-direction: column;
  padding: 3em;
  background-color: #FFDFBA;
  border-radius: 5px;
}

#dropdownTimeOwner label {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#dropdownTimeOwner .dropdownTimeOwnerInput {
  margin-bottom: 2em;
}


/* OWNER DASHBOARD */
#ownerDashboardList li {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #FFDFBA;
  margin-bottom: 3em;
  padding: 2em;
  max-width: 50em;
  border-radius: 5px;
  border: #333 solid 3px;
}

#ownerDashboardList button {
  width: fit-content;
  margin-top: 2em;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 1.2em;
  color: rgb(0,0,0);
}

#ownerDashboardDateBox {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#ownerDashboardDateBox .ownerDashboardDateBoxDateBlock {
  display: flex;
  flex-direction: row;
}

.ownerDashboardDateBoxTitle {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0,0,0);
}

.ownerDashboardDateBoxContent {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  font-size: 1em;
  margin-left: 0.2em;
  margin-right: 0.8em;
}

#ownerDashboardDescription {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#ownerDashboardDescription .ownerDashboardDateBoxDescriptionBlock {
  margin-bottom: 0.5em;
}

#ownerDashboardDescription .ownerDashboardDescriptionTitle {
  text-align: left;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-size: 1em;
  color: rgb(0,0,0);
}

.ownerDashboardDescriptionContent {
  display: flex;
  flex-direction: row;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  font-size: 1em;
  margin-right: 2em;
}

.ownerDashboardDescriptionContentDescription {
  text-align: start;
  max-width: 27em;
}

.data-messages { 
  color: #FFFFFF;
  font-size: 1.5rem;
}

/* RESPONSIVENESS SECTION */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.6rem;
  }

  .styled-box {
    width: 90%;
  }

  footer {
    padding: 30px;
    margin-top: 95%;
  }

  header {
    padding: 15px;
    height: auto;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }

  #logInButtons button {
    display: flex;
    margin: auto auto;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #ownerLogInButton {
    width: 105px;
  }

  .h1Headers {
    margin: 4rem;
    text-align: center;
  }

  .logInBox {
    margin-top: 5rem;
    padding: 3rem;
    font-size: 1.2rem;
    max-width: 70%;
  }

  #appointmentBox {
    padding: 4rem;
    width: 90%;
    border: black solid 3px;
  }

  #titleDescription,
  #dayTime,
  #startEnd {
    width: 100%;
  }

  #titleDescription input,
  #titleDescription textarea,
  #startEnd input {
    width: 100%;
  }

  .appointmentForm button {
    font-size: 14px;
  }

  #dayContainer {
    margin: 0 auto;
  }

  #timeSlotButton {
    width: 100%;
    display: flex;
  }

  .confirmation-container {
    width: 80%;
  }

  .confirmation-title {
    font-size: 1.3rem;
  }

  .confirmation-list {
    font-size: 1rem;
  }

  .calendar-return {
    font-size: 0.8rem;
  }

  .user-appointments {
    width: 80%;
    margin-right: 4rem;
  }

  .individual-user-appointments {
    font-size: 1rem;
  }

  .user-dashboard h2 {
    width: 70%;
    margin: auto auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  #dropdownTimeOwner {
    width: 80%;
    margin: auto auto;
    font-size: 0.8em;
  }

  .weekPicker h1 {
    font-size: 2.5rem;
    max-width: 70%;
    margin: auto auto;
    margin-bottom: 1rem;
  }

  .dateTitle b {
    font-size: 1rem;
  }

  .weekPicker .weekInfos .dateValue { 
    font-size: 1.1rem;
  }

  #ownerDashboardList li {
    max-width: 90%;
    margin-right: 3rem;
  }

  #ownerDashboardList .delete-button {
    font-size: 0.85em;
  }

  #ownerDashboardDateBox {
    flex-direction: column;
  }

  .ownerDashboardDateBoxDateBlock {
    font-size: 0.85em;
  }

  #ownerDashboardDescription {
    flex-direction: column;
  }

  .ownerDashboardDateBoxDescriptionBlock {
    font-size: 0.85em;
  }

  .ownerDashboardDescriptionContent,
  .ownerDashboardDescriptionContentDescription {
    width: 100%;
  }

  #startTime, #endTime { 
    font-size: 0.8rem;
  }

  .data-messages { 
    font-size: 1rem;
  }
}
